<h2>Add/Update Asset</h2>
<mat-dialog-content>
  <form [formGroup]="formGroup">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input [formControl]="formControls.name" placeholder="TestName" matInput>
      <mat-error *ngIf="formControls.name.invalid">Enter a valid data</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Latitude</mat-label>
      <input [formControl]="formControls.latitude" placeholder="50.451864" matInput>
      <mat-error *ngIf="formControls.latitude.invalid">Enter a valid data</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Longitude</mat-label>
      <input [formControl]="formControls.longitude" placeholder="30.5981571" matInput>
      <mat-error *ngIf="formControls.longitude.invalid">Enter a valid data</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button (click)="submit()" mat-button>Submit</button>
  <button (click)="closeDialog()" mat-button>Close</button>
</mat-dialog-actions>
