<div>
  <h5>Asset Board</h5>
  <google-map [center]="mapPosition">
    <map-marker [position]="mapPosition"></map-marker>
  </google-map>
</div>
<div>
  <button mat-raised-button (click)="updateAsset(0, true)" >Add asset</button>
  <div class="assets-table">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let asset of assetList; index as i"
          (click)="setAssetPosition(asset, i)"
          class="assetRow"
          [ngClass]="{activeRow: i === activeIndex}">
        <th scope="row">{{i + 1}}</th>
        <td>{{asset.name}}</td>
        <td>
          <button type="button"
                  class="btn"
                  [class]=" activeIndex == i ? 'btn-light' : 'btn-dark'"
                  (click)="updateAsset(i)"
          >
            Update</button>
        </td>
        <td>
          <button type="button"
                  class="btn"
                  [class]=" activeIndex == i ? 'btn-light' : 'btn-dark'"
                  (click)="deleteAsset(i)"
          >
            Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
