:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.assets-table {
  width: 500px;
}

.assetRow {
  cursor: pointer;
}

.activeRow {
  background-color: black;
  color: white;
}
